.body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.row{
  display: flex;
  flex-direction: row;
}

label,input{
  display: flex;
  flex-direction: column;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  color: white;
  padding: 70px;
  letter-spacing: 4px;
}