@font-face {
  font-family: "Norse";
  src: url(Norse-Bold.otf);
}

body{
  display: flex;
}

.body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

.row{
  display: flex;
  flex-direction: row;
}

.leftpane{
  width: 600px;
  height: 100%;
}

#photo
{
  width: inherit;
}

.logobox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: inherit;
  position: absolute;
  top: 140px;
  background-color: #09090aa4;
}

#logotext{
  font-family: Norse;
  font-size: 200px;
  color: rgb(29, 249, 189);
  display: flex;
}
#logo{
  height: 80%;
}

label,input{
  flex-direction: column;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  color: white;
  padding: 70px;
  letter-spacing: 4px;
}