@font-face {
  font-family: "Norse";
  src: url(Norse-Bold.otf);
}

body{
  display: flex;
}

.body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

.leftpane{
  width: 600px;
  height: 100%;
}

#photo
{
  width: inherit;
}

.logobox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: inherit;
  position: absolute;
  top: 140px;
  background-color: #09090aa4;
}

#logotext{
  font-family: Norse;
  font-size: 200px;
  color: rgb(29, 249, 189);
  display: flex;
  padding-left: 10px;
}
#logo{
  height: 80%;
}

.rightpane{
  max-width: 40%;
  margin-left: 80px;
  margin-right: 420px;
}

.rightheader{
  margin-top: 100px;
}

.fielsdtop{
  font-weight: bold;
  font-size: 30px;
  color: rgb(50, 50, 50);
  padding-top: 70px;
}

p{
  font-weight: bold;
  font-size: 30px;
}

.fields{
  padding-top: 30px;
}

.row{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.field{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

label{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgb(80, 80, 80);
}

input{
  border-radius: 5px;
  border-color: #E5E7EB;
  border-width: 1px;
  font-size: 16px;
  height: 25px;
  max-width: 25em;
}

input:focus{
  outline: none;
  border-width: 2px;
  border-color: #3f78e9;
}

.error{
  outline: none;
  border-width: 2px;
  border-color: #f80929;
}

button{
  border-radius: 5px;
  background-color: #596D48;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: auto;
  max-width: 25em;
}

button:hover{
  background-color: #c3ec9e;
  color: rgb(44, 44, 44);
}

#footertext{
  display: flex;
  flex-direction: row;
}

#login{
  padding-left: 1em;
  color: #596D48;
  font-weight: bold;
}